<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Login Automation Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.example.tests.api.APITest" />
            <class name="com.example.tests.web.AddToCartTest" />
        </classes>
    </test>
</suite>